<template>
  <div class="list row">
    <div class="col-md-6">
      <h4>Carrito</h4>
        <div class="list-group-item itemlinia"
          :class="{ active: index == currentIndex }"
          v-for="(product, index) in cart"
          :key="index"
          @click="setActiveProduct(product, index)"
        >
        <img :src="product.productImg" class="img"><br><br>
            {{ product.id }}
            {{ product.productName }}
          
        </div>

      <button class="m-3 btn btn-sm btn-danger" @click="removeAllProducts">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div v-if="currentProduct">
        <h4>Product</h4>
        <div>
          <label><strong>Id:</strong></label> {{ currentProduct.productId }}
        </div>
        <div>
          <label><strong>Name:</strong></label> {{ currentProduct.productName }}
        </div>
        <div>
          <label><strong>Price:</strong></label> {{ currentProduct.productPrice }} €
        </div>
        <div>
          <label><strong>Color:</strong></label> {{ currentProduct.productColor }}
        </div>
        <div>
          <label><strong>Size:</strong></label> {{ currentProduct.productSize }}
        </div>
        <div>
          <label><strong>Img:</strong></label> {{ currentProduct.productImg }}
        </div>
        <button class="badge badge-danger mr-2" @click="deleteProduct">
            Remove from cart
          </button>
      </div>
      <div v-else>
        <br />
        <p>Please click on a Product to see details</p>
      </div>
    </div>
  </div>
</template>

<script>
import ProductDataService from "../services/ProductDataService";

export default {
  name: "products-list",
  data() {
    return {
      cart: [],
      currentProduct: null,
      currentIndex: -1,
      name: ""
    };
  },
  methods: {
    retrieveCart() {
      ProductDataService.getCart()
        .then(response => {
          this.cart = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveCart();
      this.currentProduct = null;
      this.currentIndex = -1;
    },

    setActiveProduct(product, index) {
      this.currentProduct = product;
      this.currentIndex = index;
    },

    removeAllProducts() {
      ProductDataService.deleteAll()
        .then(response => {
          console.log(response.data);
          this.refreshList();
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteProduct() {
      ProductDataService.deleteCart(this.currentProduct.id)
        .then(response => {
          console.log(response.data);
         /*  this.$router.push({ name: "cart" }); 
          this.$forceUpdate(); */
          ProductDataService.getCart()
            .then(response => {
            this.cart = response.data;
            console.log(response.data);
            })
            .catch(e => {
            console.log(e);
            });
          })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.retrieveCart();
  }
};
</script>

<style>
.list {
  text-align: left;
  width: 70%;
  margin: auto;
}
.img {
    width: 100%;
}
.itemlinea {
    width: 50px;
    height: 50px;
}
</style>
