<template>
  <div class="container" style="text-transform: uppercase">
    <h4>Marketplace</h4>
    <!-- <div v-if="!submitted"> -->
      <div class="list-group-item list itemlinia"
          :class="{ active: index == currentIndex }"
          v-for="(product, index) in products"
          :key="index"
          @click="setActiveProduct(product, index)"
      >
          <!-- {{ product.img }} <br> -->
          <img :src="product.img" class="img">
          <div style="text-align:center">
              {{ product.name }}<br>{{ product.price }}€
          </div>
          <button class="m-3 btn btn-sm btn-danger" @click="addToCart(product)">ADD TO CART</button>
      </div>
   <!-- </div>
     <div v-else>
      <h4>Added to cart!</h4>
      <button class="btn btn-success" @click="addToCart">Add</button>
    </div> -->
  </div>
</template>

<script>
import ProductDataService from "../services/ProductDataService";

export default {
  name: "products-list",
  data() {
    return {
      products: [],
      cart: [],
      currentProduct: null,
      currentIndex: -1,
      name: ""
    };
  },
  methods: {
    retrieveProducts() {
      ProductDataService.getAll()
        .then(response => {
          this.products = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    refreshList() {
      this.retrieveProducts();
      this.currentProduct = null;
      this.currentIndex = -1;
    },

    setActiveProduct(product, index) {
      this.currentProduct = product;
      this.currentIndex = index;
    },

    /* saveProduct() {
      var data = {
        name: this.product.name,
        price: this.product.price,
        color: this.product.color,
        size: this.product.size,
        img: this.product.img
      };

      ProductDataService.create(data)
        .then(response => {
          this.product.id = response.data.id;
          console.log(response.data);
          this.submitted = true;
        })
        .catch(e => {
          console.log(e);
        });
    },
    
    addToCart() {
      this.submitted = false;
      this.cart = {};
    } */
    async addToCart(product) {
      try {
        const response = await fetch("http://localhost:3000/cart", {
          method: "POST",
          body: JSON.stringify({
            productId: product.id,
            productName: product.name,
            productPrice: product.price,
            productColor: product.color,
            productSize: product.size,
            productImg: product.img
          }),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        });
        let data = await response.json();
        alert("Item added to cart");
        console.log(data);
      } catch (err) {
        alert("Something went wrong");
        console.log(err);
      }
    }
  },
  mounted() {
    this.retrieveProducts();
  }
};
</script>

<style>
.list {
  text-align: left;
  width: 24%;
  margin: auto;
}
.img {
    width: 100%;
} 
.itemlinea {
    display: inline-block;
    padding: 20px;
    color: #fff;
    width: 100px;
    height: 100px;
}
.list-group-item {
    display: inline-block;
    margin: 1px;
    background: #f9f9f9;
}
.list-group-item.active {
    z-index: 0;
    color: black;
    background-color: #f9f9f9;
    border: none;
}

</style>